<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=".../../static/download.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{ ADDPlus_icon }}"/>
    <title>Download</title>
</head>
<body>
    <nav>
        <img src="{{ ADDPlus_icon }}" alt="drowsy_icon">
        <p><a href="/"><strong>Anti-Drowsy Driving Plus (ADD+)</strong></a></p>
        
        <ul>
            <li><strong><a href="/">Home ▼</a></strong>
            <ul>
                    <li><strong><a href="/troubleshoot">Troubleshoot</a></strong></li>
                    <li><strong><a href="/instructions">Instructions</a></strong></li>
                    <li><strong><a href="/download">Download</a></strong></li>
            </ul>
            </li>
            <li><strong><a href="/why">Why</a></strong></li>
            <li><strong><a href="/how">How</a></strong></li>
            <li><strong><a href="/about">About</a></strong></li>
        </ul>
    </nav>
    
    <p>
        
    </p>
    <div>
        <span><b>DOWNLOAD</b></span>
    </div>
    <h3>Download the app follow instructions at <a href="/instructions">instructions page</a></h3>
    <p>Version 1.0</p>
    <a href="https://bitbucket.org/jjooaa/desktop-app/src/main/drowsysetup%20(1).exe" target="_blank">Download version 1.0(Windows Only</a>
    <p>Version 2.0</p>
    <a href="https://bitbucket.org/jjooaa/detecting-drowsiness/src/main/ADD%2BInstaller.exe" target="_blank">Download version 2.0(Windows Only)</a>

</body>
</html>
