<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <nav>
       <p><a href="/">Anti Drowsy Driving</a></p>
        <ul>
            <li><a href="/">Home ▼</a>
            <ul>
                    <li><a href="/troubleshoot">Troubleshoot</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/download">Download</a></li>
                </ul>
            </li>
            <li><a href="/why">Why</a></li>
            <li><a href="/how">How</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    
    <h1>Download</h1>
    <h3>Download the app follow instructions at <a href="/instructions">instructions page</a></h3>
    <p>Version 1.0</p>
    <a href="https://bitbucket.org/jjooaa/desktop-app/src/main/drowsysetup%20(1).exe" target="_blank">Download version 1.0(Windows Only</a>
    <p>Version 2.0</p>
    <a href="https://bitbucket.org/jjooaa/detecting-drowsiness/src/main/ADD%2BInstaller.exe" target="_blank">Download version 2.0(Windows Only)</a>

</body>
</html>
