<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <nav>
        <p><a href="/">Anti Drowsy Driving</a></p>
        <ul>
            <li><a href="/">Home ▼</a>
            <ul>
                    <li><a href="/troubleshoot">Troubleshoot</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/download">Download</a></li>
                </ul>
            </li>
            <li><a href="/why">Why</a></li>
            <li><a href="/how">How</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    
    <h1>INSTRUCTIONS</h1>
    <ol>
        <li>
            <h2>
                How to Download App
            </h2>
        </li>
        <li>
            1. {{ first }}
        </li>
        <li>
            2. {{ second }}
        </li>
        <li>
            3. {{ third }}
        </li>
        <li>
            4. {{ fourth }}
        </li>
        <li>
            5. {{ fifth }}
        </li>
        <li>
            6. {{ sixth }}
        </li>
        <li>
            <img src="{{ windows_defender }}" alt="windows_defender">
        </li>
        <li>
            7. {{ seventh }}
        </li>

        <li>
            <h2>How to use the App properly</h2>
        </li>

        <li>
            1. {{ proper_one }}
        </li>
        <li>
            <img src="{{ right_or_wrong_face }}" alt="proper lighting techniques">
        </li>
        <li>
            2. {{ proper_two }}
        </li>
        <li>
            <img src="{{ right_or_wrong_way }}" alt="proper camera angle techniques">
        </li>
        <li>
            3. {{ proper_three }}
        </li>
        <li>
            <img src="{{ proper_detection }}" alt="proper camera angle techniques">
        </li>
        <li>
            4. {{ proper_four }}
        </li>
        <li>
            <p>

            </p>
        </li>
        <li>
            <p>

            </p>
        </li>
    </ol>
</body>
</html>
