<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/instructions.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{ ADDPlus_icon }}"/>
    <title>Instructions</title>
</head>
<body>
    <nav>
        <img src="{{ ADDPlus_icon }}" alt="drowsy_icon">
        <p><a href="/"><strong>Anti-Drowsy Driving Plus (ADD+)</strong></a></p>
        
        <ul>
            <li><strong><a href="/">Home ▼</a></strong>
            <ul>
                    <li><strong><a href="/troubleshoot">Troubleshoot</a></strong></li>
                    <li><strong><a href="/instructions">Instructions</a></strong></li>
                    <li><strong><a href="/download">Download</a></strong></li>
            </ul>
            </li>
            <li><strong><a href="/why">Why</a></strong></li>
            <li><strong><a href="/how">How</a></strong></li>
            <li><strong><a href="/about">About</a></strong></li>
        </ul>
    </nav>
    <p>
        
    </p>
    <div>
        <span><b>INSTRUCTIONS</b></span>
    </div>
    <ol>
        <li>
            <h2>
                How to Download App
            </h2>
        </li>
        <li>
            <b>1. {{ first }}</b>
        </li>
        <li>
            <b>2. {{ second }}</b>
        </li>
        <li>
            <b>3. {{ third }}</b>
        </li>
        <li>
            <b>4. {{ fourth }}</b>
        </li>
        <li>
            <b>5. {{ fifth }}</b>
        </li>
        <li>
            <b>6. {{ sixth }}</b>
        </li>
        <li>
            <div id="windows_defender">
                <img src="{{ windows_defender }}" alt="windows_defender">
            </div>
        </li>
        <li>
            <b>7. {{ seventh }}</b>
        </li>

        <li>
            <h2>How to Use App Properly</h2>
        </li>

        <li>
            <b>1. {{ proper_one }}</b>
        </li>
        <li>
                <img src="{{ right_or_wrong_face }}" alt="proper lighting techniques">
        </li>
        <li>
            <b>2. {{ proper_two }}</b>
        </li>
        <li>
            <img src="{{ right_or_wrong_way }}" alt="proper camera angle techniques">
        </li>
        <li>
            <b>3. {{ proper_three }}</b>
        </li>
        <li>
            <img src="{{ proper_detection }}" alt="proper camera angle techniques">
        </li>
        <li>
            <b>4. {{ proper_four }}</b>
        </li>
        <li>
            <p>
                
            </p>
        </li>
    </ol>
</body>
</html>
