* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

nav {
    width: 100;
    height: 60px;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav p {
    font-family: arial;
    color: orange;
    font-size: 25px;
    line-height: 55px;
    float: left;
    padding: 1px 15px;
}

nav p a {
    text-decoration: none;
    color: orange;
    padding-right: 20px;
}

nav img {
    line-height: 55px;
    float: left;
    padding: 7px 10px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: white;
    font-size: 20px;
    padding: 20px 16px;
    padding-right: 60px;
    padding-left: 40px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: blue;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 155px;
    border-radius: 4px;
    padding-left: 10px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: rgb(83, 79, 79);
}

h1 {
    display: table;
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: dimgray;
}

span {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
    color: white;
}

h4 {
    padding-top: 70px;
}

.about_body {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: system-ui;
    font-size: 1.1em;
}

.about_img {
    padding-top: 55px;
    text-align: center;
}

.about_par {
    padding-bottom: 20px;
}
