* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

nav {
    width: 100;
    height: 60px;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav p {
    font-family: arial;
    color: orange;
    font-size: 25px;
    line-height: 55px;
    float: left;
    padding: 1px 15px;
}

nav p a {
    text-decoration: none;
    color: orange;
    padding-right: 20px;
}

nav img {
    line-height: 55px;
    float: left;
    padding: 7px 10px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: white;
    font-size: 20px;
    padding: 20px 16px;
    padding-right: 60px;
    padding-left: 40px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: blue;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 155px;
    border-radius: 4px;
    padding-left: 10px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: rgb(83, 79, 79);
}

h1 {
    display: table;
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: dimgray;
}

span {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

h4 {
    padding-top: 70px;
}

.home_body {
    /* padding-left: 400px;
    padding-right: 400px; */
    padding-top: 40px;
    font-family: system-ui;
    font-size: 1.1em;
}

.home_img {
    padding-top: 55px;
    text-align: center;
}

.download_body {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    font-family: system-ui;
}

.troubleshoot_body {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: system-ui;
}

.img_troubleshoot {
    padding-top: 55px;
}

.troubleshoot_link {
    padding-top: 40px;
    font-size: 1.2em;
}

.troubleshoot_title {
    font-size: 1.2em;
}

.instructions_body {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: system-ui;
}

ol li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ol .img {
    list-style:none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.instructions_title {
    padding-top: 40px;
    padding-bottom: 40px;
}

.download_version_title {
    padding-top: 40px;
    text-align: center;
    font-family: system-ui;
}

.version2-1 {
    padding-bottom: 25px;
}

.download_text {
    padding-bottom: 25px;
}

.download_instruction {
    padding-bottom: 25px;
}

.version1link {
    padding-bottom: 25px;
}
.version2link {
    padding-bottom: 25px;
}

.version3link {
    padding-bottom: 25px;
}

.safety_title {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.safety_body {
    text-align: left;
}

.video1 {
    text-align: center;
    padding-bottom: 200px;
}

.video2 {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.home_par {
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.list li {
    list-style:none;
}