<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{ ADDPlus_icon }}"/>
    <title>Anti Drowsy Driving</title>
</head>
<body>
    <nav>
        <img src="{{ ADDPlus_icon }}" alt="drowsy_icon">
        <p><a href="/"><strong>Anti-Drowsy Driving Plus (ADD+)</strong></a></p>
        <ul>
            <li><strong><a href="/">Home ▼</a></strong>
            <ul>
                    <li><strong><a href="/troubleshoot">Troubleshoot</a></strong></li>
                    <li><strong><a href="/instructions">Instructions</a></strong></li>
                    <li><strong><a href="/download">Download</a></strong></li>
            </ul>
            </li>
            <li><strong><a href="/why">Why</a></strong></li>
            <li><strong><a href="/how">How</a></strong></li>
            <li><strong><a href="/about">About</a></strong></li>
        </ul>
    </nav>

    <h4>

    </h4>
    <h1>
        <span><b>This is my Anti-Drowsy Driving Plus (ADD+) Desktop App</b></span>
    </h1>

    <div class="home_img">
        <img src="{{ home_image }}" alt="home_image">
    </div>

    <div class="home_body">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim dolor amet reiciendis est molestiae hic quam nisi, necessitatibus accusantium, explicabo, officiis aperiam architecto suscipit odio laboriosam consequatur quod optio corporis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident sapiente velit, modi hic expedita nisi incidunt veritatis, laboriosam nemo necessitatibus facere unde optio voluptatum. Corrupti odio eaque ex reiciendis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex deleniti veritatis hic, quae id quas? Voluptatibus magnam accusantium ex neque, necessitatibus, molestiae voluptas corporis laboriosam explicabo ducimus vitae hic similique!
        </p>
    </div>
    

</body>
</html>